body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0B0C10;
}

nav.navbar {
    color: white !important;
    z-index: 2;
}

div#map {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


a.navbar-brand {
    color: #66FCF1 !important;
    font-size: x-large;
}

div#createHeader {
    margin: auto;
    align-content: center;
    text-align: center;
    color: white;
}

div#createHeader i {
    color: #66FCF1;
}

div#entryForm {
    color: white;
    margin: 5%;
    align-content: center;
    text-align: center;
}

div#entryForm h1 {
    color: #66FCF1;
    font-weight: bold;
}

div#entryForm hr {
    border-top: 1px solid #66FCF1;
}

label {
    font-weight: bold;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
  }
  
  .ui-autocomplete > li > div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
  }
  
  .ui-state-hover,
  .ui-state-active,
  .ui-state-focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  .ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .gm-style .gm-style-iw {
    background-color:#66FCF1 !important;
    color: #66FCF1;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    min-height: 120px !important;
    padding-top: 10px;
    display: block !important;
    }    


 